@font-face {
    font-family: raleway;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(./fonts/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

:root {
    --mainYellow: #f8d54b;
    --lightYellow: #f8dd70;
    --whiteYellow: #fff6d3;
    --mainOrange: #b4934b;
    --blueGray: #e8eef1;
    --blueGrayAccent: #d7dde0;
    --blueGrayDark: #7d858b;
    --blueBlack: #04102c;
    --bright-blue: #124369;

    --transparent-blue: rgba(56, 58, 94, 0.8);
    --transparent-white: rgba(255, 255, 255, 0.8);

    --sunset-gradient: linear-gradient(var(--mainYellow), var(--mainOrange));
    --sunset-edge: inset 0 0 10px var(--mainOrange);

    --body-font: poppins;
    --header-font: raleway;
    --sub-font: quicksand;

    --med-shadow: 0 0 10px var(--blueGrayDark);
    --med-shadow-inset: inset 0 0 10px var(--blueGrayDark);
    --glow: 0 0 5px var(--whiteYellow);

    --dark-shadow: 0 0 10px var(--blueBlack);
    --dark-shadow-inset: inset 0 0 10px var(--blueBlack);
}

* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: var(--body-font);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--blueGray);
}

a, button {
    cursor: pointer !important;
}

/* Text */

.title {
    font-family: raleway;
    font-size: 3rem;
    color: var(--blueBlack);
}

.paragraph {
    text-align: justify;
}

.text-block .title, 
.text-block .paragraph {
    margin-bottom: 10px;
}

/* Flex templates */

.row-between {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}

.row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-start {
    display: flex;
}

.col-between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.col-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.col-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Containers */

.full-page {
    min-height: 100vh;
    background-color: var(--blueGray);
}

.body-block {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 7%;
    z-index: 2;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 20px;
    /* box-shadow: 0 0 10px var(--blueBlack); */
}

.ylw-block {
    /* background-image: var(--sunset-gradient); */
    background-color: var(--mainYellow);
    box-shadow: var(--sunset-edge);
}

.gray-block {
    background-color: var(--blueGray);
}

.back-up {
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 3;
}

.back-up div {
    border-radius: 25px;
    padding: 10px;
    box-shadow: var(--dark-shadow);
    text-align: center;
    background-color: var(--transparent-white);
}

.back-up a {
    color: var(--blueBlack);
    text-decoration: none;
}

.back-up span {
    margin-right: 5px;
    display: none;
}

.back-up:hover span {
    display: block;
}

/* Navbar */

#nav-bar {
    background-color: var(--transparent-blue);
    width: 100vw;
    align-items: center;
    z-index: 3;
}

#nav-bar .title {
    font-size: 2rem;
    color: var(--mainYellow);
}

#nav-bar a {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 20px;
    text-decoration: none;
}

#nav-bar a:hover {
    color: var(--whiteYellow);
}

.flexed-nav {
    background-color: var(--transparent-blue);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw;
}

.flexed-nav a {
    margin-left: 0;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

/* Assets */

.banner-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 0;
    display: block;
}

.img-icon {
    width: 80%;
    box-sizing: border-box;
}

.inline-icon {
    width: 1.5rem;
    margin: 0 10px;
}

.vector-icon {
    height: 2.5rem;
    margin-right: 10px;
    margin-top: 10px;
    /* filter: drop-shadow(--med-shadow); */
}

.vector-icon path {
    fill: var(--blueBlack);
}

.btn {
    background-color: var(--blueGray);
    /* box-shadow: var(--dark-shadow); */
    color: var(--blueBlack);
    /* border: 1px solid var(--blueBlack); */
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    min-width: 8rem;
    font-family: var(--sub-font);
    font-size: 1.2rem;
    font-weight: bold;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn:hover {
    background-color: var(--blueGrayAccent);
}

.btn-ylw {
    background-color: var(--mainYellow);
}

.btn-ylw:hover {
    /* box-shadow: var(--glow); */
    background-color: var(--lightYellow);
}

.btn > .vector-icon {
    height: 1.5rem;
    margin: 0 0 0 10px;
    display: inline;
}

.invisibutton {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2rem;
}

/* Home ******************************************************/

/* Header */

.header {
    min-height: calc(100vh + 100px);
    overflow-x: hidden;
    max-width: 100vw;
    background-image: url('../public/images/solar-field.jpg');
    background-size: cover;
}

.header h1.title {
    /* text-align: justify; */
    color: #fff6d3;
    text-shadow: 0 0 10px var(--blueBlack);
    font-size: 4.5rem;
}

.fade-gray {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), var(--blueGray));
}

.fade-gray-reverse {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(var(--blueGray), rgba(0, 0, 0, 0));
}

/* Card Collection */

#card-collection {
    align-items: flex-start;
    padding: 0 calc(7% - 20px);
}

.card {
    width: 200px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--transparent-white);
    box-shadow: var(--dark-shadow);
    margin: 0 20px;
    flex-grow: 1;
}

.card .circle {
    margin-bottom: 20px;
}

.card .title {
    font-size: 1.5rem;
    text-align: center;
}

/* Light Text Block */

.info-block {
    align-items: flex-start;
    padding: 20px 0;
}

.info-block .text-block {
    max-width: calc(100% - 390px);
}

.align-right .info-block {
    flex-direction: row-reverse;
}

/* Why Solar? */

#why-solar .title {
    margin-bottom: 20px;
}

#why-solar .circle {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.reason {
    text-align: center;
    width: 300px;
    margin-bottom: 20px;
}

/* Dark Text Block */

.dark-paragraph {
    width: 100%;
    background-image: url("../public/images/solar-array.jpg");
    background-size:contain ;
    background-position-x: right;
}

.dark-paragraph > div {
    padding-right: 20%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) calc(20% - 100px), #05071f 20%);
}

.dark-paragraph .text-block, 
.dark-paragraph .feature-array {
    padding-right: 40px;
}

.dark-paragraph .title,
.dark-paragraph a {
    color: white;
}

.dark-paragraph .title {
    margin-top: 20px;
}

.dark-paragraph .paragraph,
.dark-paragraph li {
    color: var(--blueGray);
}

/* Offset Square */

.square-main {
    width: 350px;
    height: 350px;
}

.square-ylw {
    width: 90%;
    height: 90%;
    background-color: var(--mainYellow);
    box-shadow: var(--sunset-edge);
    position: absolute;
    bottom: 0;
    right: 0;
}

.square-img {
    width: 90%;
    height: 90%;
    box-shadow: var(--dark-shadow);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* Feature Array */

ul {
    list-style: inside;
}

.feature-array {
    align-items: flex-start;
}

.feature-array .title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.feature-array > div {
    text-align: left;
}

.feature-block {
    width: 300px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Contact */

.contact-section {
    min-height: calc(100vh + 100px);
    overflow-x: hidden;
    max-width: 100vw;
    background-image: url('../public/images/solar-garage.jpg');
    background-size: cover;
}

.contact-block {
    box-shadow: var(--dark-shadow);
    margin-top: 60px;
}

.contact-block > div{
    width: 100%;
    /* border-radius: 10px; */
    /* padding: 0 10px; */
}

#contact-list {
    padding: 20px;
    padding-left: calc(5% + 20px);
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 40%;
    flex-grow: 1;
}

#contact-form {
    padding: 20px;
    padding-right: calc(5% + 20px);
    padding-left: 40px;
    max-width: 60%;
    flex-grow: 1;
    background-color: var(--transparent-blue);
}

.contact-input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    resize: none;
    box-shadow: var(--med-shadow-inset);
}

#contact-form label.title {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 10px 0 10px;
    font-family: var(--sub-font);
}

#contact-form .btn {
    margin-top: 10px;
    margin-left: 20px;
    /* margin-bottom: 20px; */
}


.link {
    align-items: center;
    padding: 10px 0;
}

.link a {
    /* text-decoration: underline; */
    color: var(--bright-blue);
    /* text-shadow: var(--med-shadow); */
    font-family: var(--sub-font);
    font-size: 1.5rem;
    font-weight: 600;
}

.link .vector-icon {
    height: 2.5rem;
}

.link path {
    fill: var(--bright-blue);
}

.link g {
    fill: none;
    stroke: var(--bright-blue);
}

.link g path {
    fill: none;
}

@media (max-width: 1100px) {
    .card {
        flex-direction: row;
        justify-content: left;

        width: 100%;
        height: auto;

        margin-bottom: 20px;
    }

    .card .circle {
        margin-right: 40px;
        margin-bottom: 0;
        height: 100px;
        width: 100px;
    }

    .card .title {
        font-size: 2rem;
        text-align: left;
    }

    /* Light paragraph  */

    .info-block {
        justify-content: center;
    }

    .info-block .text-block {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .square-main {
        width: 300px;
        height: 300px;
    }

    /* Why Solar? */

    #why-solar .title {
        text-align: center;
    }

    #why-solar > div {
        justify-content: space-evenly;
    }

    /* Dark Paragraph */

    .dark-paragraph .text-block, 
    .dark-paragraph .feature-array {
        padding-right: 0;
    }

    /* Contact form */

    #contact-form, #contact-list {
        max-width: 100%;
        padding: 20px 7%;
    }

    #contact-form {
        flex-grow: 2;
    }
}

@media (max-width: 800px) {
    .title {
        font-size: 2.5rem;
    }

    .header h1.title {
        font-size: 3.5rem;
    }

    .card .circle {
        margin-right: 10px;
    }

    .card .title {
        max-width: calc(100% - 130px);
    }

    /* Dark Paragraph */

    .dark-paragraph {
        background-size: 100%;
        /* background-position-x: center; */
        background-position-y: calc(100% - 500px);
    }
    
    .dark-paragraph > div {
        /* visibility: hidden; */
        padding-right: 7%;
        padding-bottom: calc(20% + 100px);
        height: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0) calc(15% - 100px), #05071f 15%);
    }
}

@media (max-width: 700px) {
    #why-solar > div,
    .feature-array {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .paragraph {
        text-align: left;
    }
    .header h1.title {
        font-size: 3rem;
    }

    .card {
        padding: 5px;
    }

    .card .title {
        font-size: 1.5rem;
    }

    /* Dark paragraph */

    .dark-paragraph {
        background-position-y: calc(100% - 400px);
    }

    .dark-paragraph > div {
        padding-bottom: calc(50% + 100px);
    }
}

/* Products */

#products-header {
    background-image: url(../public/images/field-top-view.jpg);
    min-height: 25vh;
}

.product-collection {
    padding: 20px calc(7% - 20px);

}

.product-collection > .title {
    margin-left: 20px;
}

.product-track {
    overflow-x: scroll;
    padding: 0 10px;
}

.small-fade-L {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(7% - 20px);
    z-index: 3;
    background-image: linear-gradient(to right, var(--blueGray), rgba(0, 0, 0, 0));
}

.small-fade-R {
    width: 20px;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    right: calc(7% - 20px);
    /* background-color: var(--mainYellow); */
    background-image: linear-gradient(to left, var(--blueGray), rgba(0, 0, 0, 0));
}

.product-track::-webkit-scrollbar {
    display: none;
}

.product-card {
    background-color: white;
    width: 250px;
    height: 300px;
    box-shadow: var(--dark-shadow);
    margin: 20px 10px;
    flex-shrink: 0;
}

.product-card img {
    height: 170px;
    width: 100%;
    object-fit: cover;
}

.product-card > div {
    height: 120px;
    padding: 10px;
}

.product-card:hover {
    width: 260px;
    height: 310px;
    margin: 15px 5px;
}

.product-card:hover > div {
    height: 130px;
}

.product-card .title {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.price {
    color: var(--bright-blue);
    font-family: var(--sub-font);
    font-size: 1.2rem;
    text-align: right;
}