@font-face {
    font-family: raleway;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

:root {
    --mainYellow: #f8d54b;
    --mainOrange: #d8962c;
    --blueGray: #c7c7d8;
    --blueBlack: #05071f;

    --body-font: poppins;
    --header-font: raleway;

    --dark-shadow: 0 0 10px var(--blueBlack);
}

* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: var(--body-font);
    box-sizing: border-box;
}

/* Text */

.title {
    font-family: raleway;
    font-size: 3rem;
    color: var(--blueBlack);
}

.paragraph {
    text-align: justify;
}

.text-block .title, 
.text-block .paragraph {
    margin-bottom: 10px;
}

/* Flex templates */

.row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.col-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Containers */

.full-page {
    min-height: 100vh;
    background-color: #e1e1f1;
}

.body-block {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 7%;
    z-index: 2;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 10px var(--blueBlack);
}

.ylw-block {
    background-image: linear-gradient(#f8d54b, #d8962c);
}

.gray-block {
    background-color: var(--blueGray);
}

/* Navbar */

#nav-bar {
    background-color: rgba(56, 58, 94, 0.6);
    width: 100vw;
    box-sizing: border-box;
}

#nav-bar .title {
    font-size: 2rem;
    color: var(--mainYellow);
}

#nav-bar a {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 20px;
    text-decoration: none;
}

/* Assets */

.banner-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 0;
    display: block;
}

.img-icon {
    width: 80%;
    box-sizing: border-box;
}

/* Home ******************************************************/

/* Header */

.header {
    min-height: calc(100vh + 100px);
    overflow-x: hidden;
    max-width: 100vw;
    box-sizing: border-box;
    background-image: url('../public/images/solar-field.jpg');
    background-size: cover;
}

#header-banner .title {
    text-align: justify;
    color: #fff6d3;
    text-shadow: 0 0 10px var(--blueBlack);
    font-size: 4.5rem;
}

.fade-gray {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #e1e1f1);
}

/* Card Collection */

#card-collection {
    align-items: flex-start;
    padding: 0 calc(7% - 20px);
}

.card {
    width: 200px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px var(--blueBlack);
    margin: 0 20px;
    flex-grow: 1;
}

.card .circle {
    margin-bottom: 20px;
}

.card .title {
    font-size: 1.5rem;
    text-align: center;
}

/* Light Text Block */

.info-block {
    align-items: flex-start;
    padding: 20px 0;
}

.info-block .text-block {
    max-width: calc(100% - 390px);
}

/* Dark Text Block */

.dark-paragraph {
    width: 100%;
    background-image: url("../public/images/solar-garage.jpg");
    background-size: cover;
    background-position: center;
}

.dark-paragraph > div {
    padding-left: 30%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 15%, #05071f 30%);
}

.dark-paragraph .text-block, 
.dark-paragraph .feature-array {
    padding-left: 40px;
}

.dark-paragraph .title,
.dark-paragraph a {
    color: white;
}

.dark-paragraph .paragraph,
.dark-paragraph li {
    color: var(--blueGray);
}

/* Offset Square */

.square-main {
    width: 350px;
    height: 350px;
}

.square-ylw {
    width: 320px;
    height: 320px;
    box-shadow: var(--dark-shadow);
    background-color: var(--mainYellow);
    position: absolute;
    bottom: 0;
    right: 0;
}

.square-img {
    width: 320px;
    height: 320px;
    box-shadow: var(--dark-shadow);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* Feature Array */

ul {
    list-style: inside;
}

.feature-array {
    align-items: flex-start;
    margin-bottom: 30px;
}

.feature-array:last-child {
    margin-bottom: 0;
}

.feature-array .title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.feature-array > div {
    text-align: left;
}

.feature-block {
    width: 33%;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.vector-icon {
    height: 3rem;
    margin-right: 10px;
    margin-top: 10px;
}